In [27]:
from sklearn.svm import SVC
import numpy as np
import pandas as pd

In [30]:
data = pd.read_csv('svm-data.csv', header = None)

In [31]:
data

   0     1     2
0  0  0.70  0.29
1  1  0.23  0.55
2  0  0.72  0.42
3  0  0.98  0.68
4  0  0.48  0.39
5  1  0.34  0.73
6  0  0.44  0.06
7  1  0.40  0.74
8  0  0.18  0.18
9  1  0.53  0.53

In [32]:
target = data[0]
data.drop(0, axis = 1, inplace = True)

In [33]:
data

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39
5  0.34  0.73
6  0.44  0.06
7  0.40  0.74
8  0.18  0.18
9  0.53  0.53

In [34]:
clf = SVC(random_state = 241, kernel = 'linear', C = 100000)
clf.fit(data, target)

SVC(C=100000, cache_size=200, class_weight=None, coef0=0.0, degree=3,
  gamma=0.0, kernel='linear', max_iter=-1, probability=False,
  random_state=241, shrinking=True, tol=0.001, verbose=False)

In [19]:
clf.support_

array([3, 4, 9], dtype=int32)

In [20]:
clf.support_vectors_

array([[ 0.98,  0.68],
       [ 0.48,  0.39],
       [ 0.53,  0.53]])

In [26]:
clf.coef_

array([[-10.4526212 ,  18.02446131]])